In [1]:
import os
os.environ["DJANGO_SETTINGS_MODULE"] = "mydjango13.settings"
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"

import django
django.setup()

In [2]:
from mall.models import Shop

In [3]:
Shop.objects.all()

(0.016) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 21; args=()

# Create

In [ ]:
shop = Shop() # FirstShop (0), first_shop (x), firstshop (x), first_Shop (x)
shop.name = "투썸플레이스"
shop.telephone = "042-1234-1234"

In [ ]:
shop.save()

In [ ]:
shop = Shop.objects.create(
    name="셀프24시빨래방",
    telephone="042-1234-4321")

shop

# Select

In [4]:
qs = Shop.objects.all()

In [5]:
for shop in qs:
    print(shop.pk, shop.name, shop.telephone)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC; args=()

5 셀프24시빨래방 042-1234-4321
4 투썸플레이스 042-1234-1234

In [ ]:
qs.order_by("-id") #, "created_at") 정렬은 가급적 단일 컬럼으로 쓰기

## 데이터 뻥튀기

In [7]:
for i in range(1, 101):
    name = f"가게명#{i}"
    telephone = f"042-1234-9{i:03}"
    Shop.objects.create(
        name=name,
        telephone=telephone,
    )

(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#1', '', '042-1234-9001', '', '2021-12-01 06:45:23.406037', '2021-12-01 06:45:23.406037'); args=['가게명#1', '', '042-1234-9001', '', '2021-12-01 06:45:23.406037', '2021-12-01 06:45:23.406037']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#2', '', '042-1234-9002', '', '2021-12-01 06:45:23.422096', '2021-12-01 06:45:23.422096'); args=['가게명#2', '', '042-1234-9002', '', '2021-12-01 06:45:23.422096', '2021-12-01 06:45:23.422096']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#3', '', '042-1234-9003', '', '2021-12-01 06:45:23.422096', '2021-12-01 06:45:23.422096'); args=['가게명#3', '', '042-1234-9003', '', '2021-12-01 06:45:23.422096', '2021-12-01 06:45:23.422096']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#4', '', '042-1234-9004', '', '2021-12-01 06:45:23.437722', '2021-12-01 06:45:23.437722'); args=['가게명#4', '', '042-1234-9004', '', '2021-12-01 06:45:23.437722', '2021-12-01 06:45:23.437722']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#5', '', '042-1234-9005', '', '2021-12-01 06:45:23.437722', '2021-12-01 06:45:23.437722'); args=['가게명#5', '', '042-1234-9005', '', '2021-12-01 06:45:23.437722', '2021-12-01 06:45:23.437722']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#6', '', '042-1234-9006', '', '2021-12-01 06:45:23.453343', '2021-12-01 06:45:23.453343'); args=['가게명#6', '', '042-1234-9006', '', '2021-12-01 06:45:23.453343', '2021-12-01 06:45:23.453343']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#7', '', '042-1234-9007', '', '2021-12-01 06:45:23.453343', '2021-12-01 06:45:23.453343'); args=['가게명#7', '', '042-1234-9007', '', '2021-12-01 06:45:23.453343', '2021-12-01 06:45:23.453343']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#8', '', '042-1234-9008', '', '2021-12-01 06:45:23.468964', '2021-12-01 06:45:23.468964'); args=['가게명#8', '', '042-1234-9008', '', '2021-12-01 06:45:23.468964', '2021-12-01 06:45:23.468964']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#9', '', '042-1234-9009', '', '2021-12-01 06:45:23.468964', '2021-12-01 06:45:23.468964'); args=['가게명#9', '', '042-1234-9009', '', '2021-12-01 06:45:23.468964', '2021-12-01 06:45:23.468964']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#10', '', '042-1234-9010', '', '2021-12-01 06:45:23.484585', '2021-12-01 06:45:23.484585'); args=['가게명#10', '', '042-1234-9010', '', '2021-12-01 06:45:23.484585', '2021-12-01 06:45:23.484585']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#11', '', '042-1234-9011', '', '2021-12-01 06:45:23.490595', '2021-12-01 06:45:23.490595'); args=['가게명#11', '', '042-1234-9011', '', '2021-12-01 06:45:23.490595', '2021-12-01 06:45:23.490595']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#12', '', '042-1234-9012', '', '2021-12-01 06:45:23.490595', '2021-12-01 06:45:23.490595'); args=['가게명#12', '', '042-1234-9012', '', '2021-12-01 06:45:23.490595', '2021-12-01 06:45:23.490595']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#13', '', '042-1234-9013', '', '2021-12-01 06:45:23.490595', '2021-12-01 06:45:23.490595'); args=['가게명#13', '', '042-1234-9013', '', '2021-12-01 06:45:23.490595', '2021-12-01 06:45:23.490595']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#14', '', '042-1234-9014', '', '2021-12-01 06:45:23.506222', '2021-12-01 06:45:23.506222'); args=['가게명#14', '', '042-1234-9014', '', '2021-12-01 06:45:23.506222', '2021-12-01 06:45:23.506222']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#15', '', '042-1234-9015', '', '2021-12-01 06:45:23.506222', '2021-12-01 06:45:23.506222'); args=['가게명#15', '', '042-1234-9015', '', '2021-12-01 06:45:23.506222', '2021-12-01 06:45:23.506222']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#16', '', '042-1234-9016', '', '2021-12-01 06:45:23.521844', '2021-12-01 06:45:23.521844'); args=['가게명#16', '', '042-1234-9016', '', '2021-12-01 06:45:23.521844', '2021-12-01 06:45:23.521844']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#17', '', '042-1234-9017', '', '2021-12-01 06:45:23.521844', '2021-12-01 06:45:23.521844'); args=['가게명#17', '', '042-1234-9017', '', '2021-12-01 06:45:23.521844', '2021-12-01 06:45:23.521844']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#18', '', '042-1234-9018', '', '2021-12-01 06:45:23.537465', '2021-12-01 06:45:23.537465'); args=['가게명#18', '', '042-1234-9018', '', '2021-12-01 06:45:23.537465', '2021-12-01 06:45:23.537465']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#19', '', '042-1234-9019', '', '2021-12-01 06:45:23.537465', '2021-12-01 06:45:23.537465'); args=['가게명#19', '', '042-1234-9019', '', '2021-12-01 06:45:23.537465', '2021-12-01 06:45:23.537465']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#20', '', '042-1234-9020', '', '2021-12-01 06:45:23.553086', '2021-12-01 06:45:23.553086'); args=['가게명#20', '', '042-1234-9020', '', '2021-12-01 06:45:23.553086', '2021-12-01 06:45:23.553086']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#21', '', '042-1234-9021', '', '2021-12-01 06:45:23.553086', '2021-12-01 06:45:23.553086'); args=['가게명#21', '', '042-1234-9021', '', '2021-12-01 06:45:23.553086', '2021-12-01 06:45:23.553086']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#22', '', '042-1234-9022', '', '2021-12-01 06:45:23.568707', '2021-12-01 06:45:23.568707'); args=['가게명#22', '', '042-1234-9022', '', '2021-12-01 06:45:23.568707', '2021-12-01 06:45:23.568707']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#23', '', '042-1234-9023', '', '2021-12-01 06:45:23.584330', '2021-12-01 06:45:23.584330'); args=['가게명#23', '', '042-1234-9023', '', '2021-12-01 06:45:23.584330', '2021-12-01 06:45:23.584330']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#24', '', '042-1234-9024', '', '2021-12-01 06:45:23.590838', '2021-12-01 06:45:23.590838'); args=['가게명#24', '', '042-1234-9024', '', '2021-12-01 06:45:23.590838', '2021-12-01 06:45:23.590838']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#25', '', '042-1234-9025', '', '2021-12-01 06:45:23.606465', '2021-12-01 06:45:23.606465'); args=['가게명#25', '', '042-1234-9025', '', '2021-12-01 06:45:23.606465', '2021-12-01 06:45:23.606465']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#26', '', '042-1234-9026', '', '2021-12-01 06:45:23.606465', '2021-12-01 06:45:23.606465'); args=['가게명#26', '', '042-1234-9026', '', '2021-12-01 06:45:23.606465', '2021-12-01 06:45:23.606465']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#27', '', '042-1234-9027', '', '2021-12-01 06:45:23.622153', '2021-12-01 06:45:23.622153'); args=['가게명#27', '', '042-1234-9027', '', '2021-12-01 06:45:23.622153', '2021-12-01 06:45:23.622153']

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#28', '', '042-1234-9028', '', '2021-12-01 06:45:23.637707', '2021-12-01 06:45:23.637707'); args=['가게명#28', '', '042-1234-9028', '', '2021-12-01 06:45:23.637707', '2021-12-01 06:45:23.637707']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#29', '', '042-1234-9029', '', '2021-12-01 06:45:23.637707', '2021-12-01 06:45:23.637707'); args=['가게명#29', '', '042-1234-9029', '', '2021-12-01 06:45:23.637707', '2021-12-01 06:45:23.637707']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#30', '', '042-1234-9030', '', '2021-12-01 06:45:23.637707', '2021-12-01 06:45:23.637707'); args=['가게명#30', '', '042-1234-9030', '', '2021-12-01 06:45:23.637707', '2021-12-01 06:45:23.637707']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#31', '', '042-1234-9031', '', '2021-12-01 06:45:23.653329', '2021-12-01 06:45:23.653329'); args=['가게명#31', '', '042-1234-9031', '', '2021-12-01 06:45:23.653329', '2021-12-01 06:45:23.653329']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#32', '', '042-1234-9032', '', '2021-12-01 06:45:23.653329', '2021-12-01 06:45:23.653329'); args=['가게명#32', '', '042-1234-9032', '', '2021-12-01 06:45:23.653329', '2021-12-01 06:45:23.653329']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#33', '', '042-1234-9033', '', '2021-12-01 06:45:23.668950', '2021-12-01 06:45:23.668950'); args=['가게명#33', '', '042-1234-9033', '', '2021-12-01 06:45:23.668950', '2021-12-01 06:45:23.668950']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#34', '', '042-1234-9034', '', '2021-12-01 06:45:23.668950', '2021-12-01 06:45:23.668950'); args=['가게명#34', '', '042-1234-9034', '', '2021-12-01 06:45:23.668950', '2021-12-01 06:45:23.668950']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#35', '', '042-1234-9035', '', '2021-12-01 06:45:23.684633', '2021-12-01 06:45:23.684633'); args=['가게명#35', '', '042-1234-9035', '', '2021-12-01 06:45:23.684633', '2021-12-01 06:45:23.684633']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#36', '', '042-1234-9036', '', '2021-12-01 06:45:23.691144', '2021-12-01 06:45:23.691144'); args=['가게명#36', '', '042-1234-9036', '', '2021-12-01 06:45:23.691144', '2021-12-01 06:45:23.691144']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#37', '', '042-1234-9037', '', '2021-12-01 06:45:23.691144', '2021-12-01 06:45:23.691144'); args=['가게명#37', '', '042-1234-9037', '', '2021-12-01 06:45:23.691144', '2021-12-01 06:45:23.691144']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#38', '', '042-1234-9038', '', '2021-12-01 06:45:23.691144', '2021-12-01 06:45:23.691144'); args=['가게명#38', '', '042-1234-9038', '', '2021-12-01 06:45:23.691144', '2021-12-01 06:45:23.691144']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#39', '', '042-1234-9039', '', '2021-12-01 06:45:23.706769', '2021-12-01 06:45:23.706769'); args=['가게명#39', '', '042-1234-9039', '', '2021-12-01 06:45:23.706769', '2021-12-01 06:45:23.706769']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#40', '', '042-1234-9040', '', '2021-12-01 06:45:23.706769', '2021-12-01 06:45:23.706769'); args=['가게명#40', '', '042-1234-9040', '', '2021-12-01 06:45:23.706769', '2021-12-01 06:45:23.706769']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#41', '', '042-1234-9041', '', '2021-12-01 06:45:23.706769', '2021-12-01 06:45:23.706769'); args=['가게명#41', '', '042-1234-9041', '', '2021-12-01 06:45:23.706769', '2021-12-01 06:45:23.706769']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#42', '', '042-1234-9042', '', '2021-12-01 06:45:23.722393', '2021-12-01 06:45:23.722393'); args=['가게명#42', '', '042-1234-9042', '', '2021-12-01 06:45:23.722393', '2021-12-01 06:45:23.722393']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#43', '', '042-1234-9043', '', '2021-12-01 06:45:23.722393', '2021-12-01 06:45:23.722393'); args=['가게명#43', '', '042-1234-9043', '', '2021-12-01 06:45:23.722393', '2021-12-01 06:45:23.722393']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#44', '', '042-1234-9044', '', '2021-12-01 06:45:23.738023', '2021-12-01 06:45:23.738023'); args=['가게명#44', '', '042-1234-9044', '', '2021-12-01 06:45:23.738023', '2021-12-01 06:45:23.738023']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#45', '', '042-1234-9045', '', '2021-12-01 06:45:23.738023', '2021-12-01 06:45:23.738023'); args=['가게명#45', '', '042-1234-9045', '', '2021-12-01 06:45:23.738023', '2021-12-01 06:45:23.738023']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#46', '', '042-1234-9046', '', '2021-12-01 06:45:23.753633', '2021-12-01 06:45:23.753633'); args=['가게명#46', '', '042-1234-9046', '', '2021-12-01 06:45:23.753633', '2021-12-01 06:45:23.753633']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#47', '', '042-1234-9047', '', '2021-12-01 06:45:23.753633', '2021-12-01 06:45:23.753633'); args=['가게명#47', '', '042-1234-9047', '', '2021-12-01 06:45:23.753633', '2021-12-01 06:45:23.753633']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#48', '', '042-1234-9048', '', '2021-12-01 06:45:23.769266', '2021-12-01 06:45:23.769266'); args=['가게명#48', '', '042-1234-9048', '', '2021-12-01 06:45:23.769266', '2021-12-01 06:45:23.769266']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#49', '', '042-1234-9049', '', '2021-12-01 06:45:23.769266', '2021-12-01 06:45:23.769266'); args=['가게명#49', '', '042-1234-9049', '', '2021-12-01 06:45:23.769266', '2021-12-01 06:45:23.769266']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#50', '', '042-1234-9050', '', '2021-12-01 06:45:23.769266', '2021-12-01 06:45:23.769266'); args=['가게명#50', '', '042-1234-9050', '', '2021-12-01 06:45:23.769266', '2021-12-01 06:45:23.769266']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#51', '', '042-1234-9051', '', '2021-12-01 06:45:23.784877', '2021-12-01 06:45:23.784877'); args=['가게명#51', '', '042-1234-9051', '', '2021-12-01 06:45:23.784877', '2021-12-01 06:45:23.784877']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#52', '', '042-1234-9052', '', '2021-12-01 06:45:23.791384', '2021-12-01 06:45:23.791384'); args=['가게명#52', '', '042-1234-9052', '', '2021-12-01 06:45:23.791384', '2021-12-01 06:45:23.791384']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#53', '', '042-1234-9053', '', '2021-12-01 06:45:23.791384', '2021-12-01 06:45:23.791384'); args=['가게명#53', '', '042-1234-9053', '', '2021-12-01 06:45:23.791384', '2021-12-01 06:45:23.791384']
(0.031) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#54', '', '042-1234-9054', '', '2021-12-01 06:45:23.791384', '2021-12-01 06:45:23.791384'); args=['가게명#54', '', '042-1234-9054', '', '2021-12-01 06:45:23.791384', '2021-12-01 06:45:23.791384']

(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#55', '', '042-1234-9055', '', '2021-12-01 06:45:23.822756', '2021-12-01 06:45:23.822756'); args=['가게명#55', '', '042-1234-9055', '', '2021-12-01 06:45:23.822756', '2021-12-01 06:45:23.822756']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#56', '', '042-1234-9056', '', '2021-12-01 06:45:23.838254', '2021-12-01 06:45:23.838254'); args=['가게명#56', '', '042-1234-9056', '', '2021-12-01 06:45:23.838254', '2021-12-01 06:45:23.838254']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#57', '', '042-1234-9057', '', '2021-12-01 06:45:23.838254', '2021-12-01 06:45:23.838254'); args=['가게명#57', '', '042-1234-9057', '', '2021-12-01 06:45:23.838254', '2021-12-01 06:45:23.838254']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#58', '', '042-1234-9058', '', '2021-12-01 06:45:23.838254', '2021-12-01 06:45:23.838254'); args=['가게명#58', '', '042-1234-9058', '', '2021-12-01 06:45:23.838254', '2021-12-01 06:45:23.838254']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#59', '', '042-1234-9059', '', '2021-12-01 06:45:23.853874', '2021-12-01 06:45:23.853874'); args=['가게명#59', '', '042-1234-9059', '', '2021-12-01 06:45:23.853874', '2021-12-01 06:45:23.853874']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#60', '', '042-1234-9060', '', '2021-12-01 06:45:23.853874', '2021-12-01 06:45:23.853874'); args=['가게명#60', '', '042-1234-9060', '', '2021-12-01 06:45:23.853874', '2021-12-01 06:45:23.853874']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#61', '', '042-1234-9061', '', '2021-12-01 06:45:23.869506', '2021-12-01 06:45:23.869506'); args=['가게명#61', '', '042-1234-9061', '', '2021-12-01 06:45:23.869506', '2021-12-01 06:45:23.869506']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#62', '', '042-1234-9062', '', '2021-12-01 06:45:23.869506', '2021-12-01 06:45:23.869506'); args=['가게명#62', '', '042-1234-9062', '', '2021-12-01 06:45:23.869506', '2021-12-01 06:45:23.869506']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#63', '', '042-1234-9063', '', '2021-12-01 06:45:23.869506', '2021-12-01 06:45:23.869506'); args=['가게명#63', '', '042-1234-9063', '', '2021-12-01 06:45:23.869506', '2021-12-01 06:45:23.869506']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#64', '', '042-1234-9064', '', '2021-12-01 06:45:23.885116', '2021-12-01 06:45:23.885116'); args=['가게명#64', '', '042-1234-9064', '', '2021-12-01 06:45:23.885116', '2021-12-01 06:45:23.885116']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#65', '', '042-1234-9065', '', '2021-12-01 06:45:23.891621', '2021-12-01 06:45:23.891621'); args=['가게명#65', '', '042-1234-9065', '', '2021-12-01 06:45:23.891621', '2021-12-01 06:45:23.891621']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#66', '', '042-1234-9066', '', '2021-12-01 06:45:23.891621', '2021-12-01 06:45:23.891621'); args=['가게명#66', '', '042-1234-9066', '', '2021-12-01 06:45:23.891621', '2021-12-01 06:45:23.891621']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#67', '', '042-1234-9067', '', '2021-12-01 06:45:23.891621', '2021-12-01 06:45:23.891621'); args=['가게명#67', '', '042-1234-9067', '', '2021-12-01 06:45:23.891621', '2021-12-01 06:45:23.891621']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#68', '', '042-1234-9068', '', '2021-12-01 06:45:23.907247', '2021-12-01 06:45:23.907247'); args=['가게명#68', '', '042-1234-9068', '', '2021-12-01 06:45:23.907247', '2021-12-01 06:45:23.907247']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#69', '', '042-1234-9069', '', '2021-12-01 06:45:23.907247', '2021-12-01 06:45:23.907247'); args=['가게명#69', '', '042-1234-9069', '', '2021-12-01 06:45:23.907247', '2021-12-01 06:45:23.907247']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#70', '', '042-1234-9070', '', '2021-12-01 06:45:23.907247', '2021-12-01 06:45:23.907247'); args=['가게명#70', '', '042-1234-9070', '', '2021-12-01 06:45:23.907247', '2021-12-01 06:45:23.907247']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#71', '', '042-1234-9071', '', '2021-12-01 06:45:23.922868', '2021-12-01 06:45:23.922868'); args=['가게명#71', '', '042-1234-9071', '', '2021-12-01 06:45:23.922868', '2021-12-01 06:45:23.922868']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#72', '', '042-1234-9072', '', '2021-12-01 06:45:23.922868', '2021-12-01 06:45:23.922868'); args=['가게명#72', '', '042-1234-9072', '', '2021-12-01 06:45:23.922868', '2021-12-01 06:45:23.922868']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#73', '', '042-1234-9073', '', '2021-12-01 06:45:23.938500', '2021-12-01 06:45:23.938500'); args=['가게명#73', '', '042-1234-9073', '', '2021-12-01 06:45:23.938500', '2021-12-01 06:45:23.938500']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#74', '', '042-1234-9074', '', '2021-12-01 06:45:23.938500', '2021-12-01 06:45:23.938500'); args=['가게명#74', '', '042-1234-9074', '', '2021-12-01 06:45:23.938500', '2021-12-01 06:45:23.938500']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#75', '', '042-1234-9075', '', '2021-12-01 06:45:23.954110', '2021-12-01 06:45:23.954110'); args=['가게명#75', '', '042-1234-9075', '', '2021-12-01 06:45:23.954110', '2021-12-01 06:45:23.954110']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#76', '', '042-1234-9076', '', '2021-12-01 06:45:23.954110', '2021-12-01 06:45:23.954110'); args=['가게명#76', '', '042-1234-9076', '', '2021-12-01 06:45:23.954110', '2021-12-01 06:45:23.954110']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#77', '', '042-1234-9077', '', '2021-12-01 06:45:23.954110', '2021-12-01 06:45:23.954110'); args=['가게명#77', '', '042-1234-9077', '', '2021-12-01 06:45:23.954110', '2021-12-01 06:45:23.954110']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#78', '', '042-1234-9078', '', '2021-12-01 06:45:23.969731', '2021-12-01 06:45:23.969731'); args=['가게명#78', '', '042-1234-9078', '', '2021-12-01 06:45:23.969731', '2021-12-01 06:45:23.969731']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#79', '', '042-1234-9079', '', '2021-12-01 06:45:23.969731', '2021-12-01 06:45:23.969731'); args=['가게명#79', '', '042-1234-9079', '', '2021-12-01 06:45:23.969731', '2021-12-01 06:45:23.969731']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#80', '', '042-1234-9080', '', '2021-12-01 06:45:23.969731', '2021-12-01 06:45:23.969731'); args=['가게명#80', '', '042-1234-9080', '', '2021-12-01 06:45:23.969731', '2021-12-01 06:45:23.969731']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#81', '', '042-1234-9081', '', '2021-12-01 06:45:23.985353', '2021-12-01 06:45:23.985353'); args=['가게명#81', '', '042-1234-9081', '', '2021-12-01 06:45:23.985353', '2021-12-01 06:45:23.985353']

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#82', '', '042-1234-9082', '', '2021-12-01 06:45:23.991860', '2021-12-01 06:45:23.991860'); args=['가게명#82', '', '042-1234-9082', '', '2021-12-01 06:45:23.991860', '2021-12-01 06:45:23.991860']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#83', '', '042-1234-9083', '', '2021-12-01 06:45:23.991860', '2021-12-01 06:45:23.991860'); args=['가게명#83', '', '042-1234-9083', '', '2021-12-01 06:45:23.991860', '2021-12-01 06:45:23.991860']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#84', '', '042-1234-9084', '', '2021-12-01 06:45:23.991860', '2021-12-01 06:45:23.991860'); args=['가게명#84', '', '042-1234-9084', '', '2021-12-01 06:45:23.991860', '2021-12-01 06:45:23.991860']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#85', '', '042-1234-9085', '', '2021-12-01 06:45:24.007485', '2021-12-01 06:45:24.007485'); args=['가게명#85', '', '042-1234-9085', '', '2021-12-01 06:45:24.007485', '2021-12-01 06:45:24.007485']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#86', '', '042-1234-9086', '', '2021-12-01 06:45:24.007485', '2021-12-01 06:45:24.007485'); args=['가게명#86', '', '042-1234-9086', '', '2021-12-01 06:45:24.007485', '2021-12-01 06:45:24.007485']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#87', '', '042-1234-9087', '', '2021-12-01 06:45:24.023107', '2021-12-01 06:45:24.023107'); args=['가게명#87', '', '042-1234-9087', '', '2021-12-01 06:45:24.023107', '2021-12-01 06:45:24.023107']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#88', '', '042-1234-9088', '', '2021-12-01 06:45:24.023107', '2021-12-01 06:45:24.023107'); args=['가게명#88', '', '042-1234-9088', '', '2021-12-01 06:45:24.023107', '2021-12-01 06:45:24.023107']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#89', '', '042-1234-9089', '', '2021-12-01 06:45:24.023107', '2021-12-01 06:45:24.023107'); args=['가게명#89', '', '042-1234-9089', '', '2021-12-01 06:45:24.023107', '2021-12-01 06:45:24.023107']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#90', '', '042-1234-9090', '', '2021-12-01 06:45:24.038727', '2021-12-01 06:45:24.038727'); args=['가게명#90', '', '042-1234-9090', '', '2021-12-01 06:45:24.038727', '2021-12-01 06:45:24.038727']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#91', '', '042-1234-9091', '', '2021-12-01 06:45:24.038727', '2021-12-01 06:45:24.038727'); args=['가게명#91', '', '042-1234-9091', '', '2021-12-01 06:45:24.038727', '2021-12-01 06:45:24.038727']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#92', '', '042-1234-9092', '', '2021-12-01 06:45:24.038727', '2021-12-01 06:45:24.038727'); args=['가게명#92', '', '042-1234-9092', '', '2021-12-01 06:45:24.038727', '2021-12-01 06:45:24.038727']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#93', '', '042-1234-9093', '', '2021-12-01 06:45:24.054360', '2021-12-01 06:45:24.054360'); args=['가게명#93', '', '042-1234-9093', '', '2021-12-01 06:45:24.054360', '2021-12-01 06:45:24.054360']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#94', '', '042-1234-9094', '', '2021-12-01 06:45:24.054360', '2021-12-01 06:45:24.054360'); args=['가게명#94', '', '042-1234-9094', '', '2021-12-01 06:45:24.054360', '2021-12-01 06:45:24.054360']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#95', '', '042-1234-9095', '', '2021-12-01 06:45:24.069971', '2021-12-01 06:45:24.069971'); args=['가게명#95', '', '042-1234-9095', '', '2021-12-01 06:45:24.069971', '2021-12-01 06:45:24.069971']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#96', '', '042-1234-9096', '', '2021-12-01 06:45:24.069971', '2021-12-01 06:45:24.069971'); args=['가게명#96', '', '042-1234-9096', '', '2021-12-01 06:45:24.069971', '2021-12-01 06:45:24.069971']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#97', '', '042-1234-9097', '', '2021-12-01 06:45:24.085592', '2021-12-01 06:45:24.085592'); args=['가게명#97', '', '042-1234-9097', '', '2021-12-01 06:45:24.085592', '2021-12-01 06:45:24.085592']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#98', '', '042-1234-9098', '', '2021-12-01 06:45:24.092099', '2021-12-01 06:45:24.092099'); args=['가게명#98', '', '042-1234-9098', '', '2021-12-01 06:45:24.092099', '2021-12-01 06:45:24.092099']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#99', '', '042-1234-9099', '', '2021-12-01 06:45:24.092099', '2021-12-01 06:45:24.092099'); args=['가게명#99', '', '042-1234-9099', '', '2021-12-01 06:45:24.092099', '2021-12-01 06:45:24.092099']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#100', '', '042-1234-9100', '', '2021-12-01 06:45:24.092099', '2021-12-01 06:45:24.092099'); args=['가게명#100', '', '042-1234-9100', '', '2021-12-01 06:45:24.092099', '2021-12-01 06:45:24.092099']

## Slicing

In [8]:
qs = Shop.objects.all()

In [9]:
qs[:10] # first 10 rows

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 10; args=()

<QuerySet [<Shop: Shop object (105)>, <Shop: Shop object (104)>, <Shop: Shop object (103)>, <Shop: Shop object (102)>, <Shop: Shop object (101)>, <Shop: Shop object (100)>, <Shop: Shop object (99)>, <Shop: Shop object (98)>, <Shop: Shop object (97)>, <Shop: Shop object (96)>]>

In [10]:
qs[0:10:2]

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 10; args=()

[<Shop: Shop object (105)>,
 <Shop: Shop object (103)>,
 <Shop: Shop object (101)>,
 <Shop: Shop object (99)>,
 <Shop: Shop object (97)>]

In [11]:
qs[-10:] # last 10 rows => Not supported in DB

AssertionError: Negative indexing is not supported.

In [13]:
for shop in reversed(qs.order_by("id")[:10]):
    print(shop.pk, shop.name, shop.telephone)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" ASC LIMIT 10; args=()

13 가게명#8 042-1234-9008
12 가게명#7 042-1234-9007
11 가게명#6 042-1234-9006
10 가게명#5 042-1234-9005
9 가게명#4 042-1234-9004
8 가게명#3 042-1234-9003
7 가게명#2 042-1234-9002
6 가게명#1 042-1234-9001
5 셀프24시빨래방 042-1234-4321
4 투썸플레이스 042-1234-1234

## Conditions

In [17]:
qs = Shop.objects.all()

In [18]:
# filter <-> exclude

qs.filter(pk=1)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 1 ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(1,)

In [19]:
qs.exclude(pk=1)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE NOT ("mall_shop"."id" = 1) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(1,)

<QuerySet [<Shop: Shop object (105)>, <Shop: Shop object (104)>, <Shop: Shop object (103)>, <Shop: Shop object (102)>, <Shop: Shop object (101)>, <Shop: Shop object (100)>, <Shop: Shop object (99)>, <Shop: Shop object (98)>, <Shop: Shop object (97)>, <Shop: Shop object (96)>, <Shop: Shop object (95)>, <Shop: Shop object (94)>, <Shop: Shop object (93)>, <Shop: Shop object (92)>, <Shop: Shop object (91)>, <Shop: Shop object (90)>, <Shop: Shop object (89)>, <Shop: Shop object (88)>, <Shop: Shop object (87)>, <Shop: Shop object (86)>, '...(remaining elements truncated)...']>

In [21]:
# lt = less than <
# lte = less than equal <=
# gt = greater than >
# gte = greater than equal >=

qs.filter(
    pk__gte=5,
    pk__lt=10,
)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 AND "mall_shop"."id" < 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

In [24]:
qs.filter(pk__gte=5), qs.filter(pk__lt=10)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" >= 5 ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5,)
(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" < 10 ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(10,)

(<QuerySet [<Shop: Shop object (105)>, <Shop: Shop object (104)>, <Shop: Shop object (103)>, <Shop: Shop object (102)>, <Shop: Shop object (101)>, <Shop: Shop object (100)>, <Shop: Shop object (99)>, <Shop: Shop object (98)>, <Shop: Shop object (97)>, <Shop: Shop object (96)>, <Shop: Shop object (95)>, <Shop: Shop object (94)>, <Shop: Shop object (93)>, <Shop: Shop object (92)>, <Shop: Shop object (91)>, <Shop: Shop object (90)>, <Shop: Shop object (89)>, <Shop: Shop object (88)>, <Shop: Shop object (87)>, <Shop: Shop object (86)>, '...(remaining elements truncated)...']>,
 <QuerySet [<Shop: Shop object (9)>, <Shop: Shop object (8)>, <Shop: Shop object (7)>, <Shop: Shop object (6)>, <Shop: Shop object (5)>, <Shop: Shop object (4)>]>)

In [25]:
qs1 = Shop.objcts.all()
qs1 = qs1.filter(pk__gte=5)
qs1 = qs1.filter(pk__it=10)

AttributeError: type object 'Shop' has no attribute 'objcts'

In [26]:
qs2 = Shop.objects.all().filter(pk__gte=5).filter(pk__it=10)

FieldError: Unsupported lookup 'it' for BigAutoField or join on the field not permitted.

In [27]:
# QuerySet is Lazy.

In [28]:
qs = Shop.objects.all()

In [29]:
Shop.objects.all()

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 21; args=()

<QuerySet [<Shop: Shop object (105)>, <Shop: Shop object (104)>, <Shop: Shop object (103)>, <Shop: Shop object (102)>, <Shop: Shop object (101)>, <Shop: Shop object (100)>, <Shop: Shop object (99)>, <Shop: Shop object (98)>, <Shop: Shop object (97)>, <Shop: Shop object (96)>, <Shop: Shop object (95)>, <Shop: Shop object (94)>, <Shop: Shop object (93)>, <Shop: Shop object (92)>, <Shop: Shop object (91)>, <Shop: Shop object (90)>, <Shop: Shop object (89)>, <Shop: Shop object (88)>, <Shop: Shop object (87)>, <Shop: Shop object (86)>, '...(remaining elements truncated)...']>

In [30]:
qs = Shop.objects.all()
shop_list = list(qs)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC; args=()

## Get 1 Row

In [31]:
pk = 10

In [32]:
shop = Shop.objects.goet(pk=pk) # 가져올 대상이 1개임을 기대, 1개가 아니면 예외가 발생
shop

AttributeError: 'Manager' object has no attribute 'goet'

In [33]:
Shop = Shop.objects.fillter(pk=pk)[0]
Shop

AttributeError: 'Manager' object has no attribute 'fillter'

In [ ]:
Shop = Shop.objects.fillter(pk=not_existed_pk)[0]
Shop

In [34]:
Shop = Shop.objects.fillter(pk=not_existed pk)[0]

SyntaxError: invalid syntax. Perhaps you forgot a comma? (Temp/ipykernel_10084/1359857593.py, line 1)

In [ ]:
Shop = Shop.objects.fillter(pk=pk)[0]
Shop

In [ ]:
Shop.objects.filter(pk.not_existed.pk.first() # 지정 row가 없다면 None을 반환할 뿐, 예외 발생 x)

## Conditions (OR)

In [35]:
qs = Shop.objects.all()
qs.filter(pk__gte=5, pk__lt=10) # AND

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 AND "mall_shop"."id" < 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

In [36]:
from django.db.models import Q

Q(pk__gte=5)

In [40]:
Q(pk__lt=10)

In [38]:
Q(pk__gte=5) & Q(pk__lt=10)

In [39]:
Q(pk__gte=5) | Q(pk__lt=10)

In [42]:
qs = Shop.objects.all()
qs.filter(Q(pk__gte=5) | Q(pk__lt=10))

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 OR "mall_shop"."id" < 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

<QuerySet [<Shop: Shop object (105)>, <Shop: Shop object (104)>, <Shop: Shop object (103)>, <Shop: Shop object (102)>, <Shop: Shop object (101)>, <Shop: Shop object (100)>, <Shop: Shop object (99)>, <Shop: Shop object (98)>, <Shop: Shop object (97)>, <Shop: Shop object (96)>, <Shop: Shop object (95)>, <Shop: Shop object (94)>, <Shop: Shop object (93)>, <Shop: Shop object (92)>, <Shop: Shop object (91)>, <Shop: Shop object (90)>, <Shop: Shop object (89)>, <Shop: Shop object (88)>, <Shop: Shop object (87)>, <Shop: Shop object (86)>, '...(remaining elements truncated)...']>

In [43]:
conditions = Q(pk__gte=5)
conditions = conditions | Q(pk__lt=10)

In [44]:
conditions = Q(pk__gte=5)
conditions |= Q(pk__lt=10)

# Update Rows

## 지정 Row

In [45]:
qs = Shop.objects.all()
shop = qs.get(pk=10)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 10 LIMIT 21; args=(10,)

In [46]:
shop.name, shop.telephone

('가게명#5', '042-1234-9005')

In [47]:
shop.telephone = '042-1234-0006'

In [48]:
shop.save()

(0.015) UPDATE "mall_shop" SET "name" = '가게명#5', "description" = '', "telephone" = '042-1234-0006', "photo" = '', "created_at" = '2021-12-01 06:45:23.437722', "updated_at" = '2021-12-01 07:38:40.419861' WHERE "mall_shop"."id" = 10; args=('가게명#5', '', '042-1234-0006', '', '2021-12-01 06:45:23.437722', '2021-12-01 07:38:40.419861', 10)

## 지정 범위의 Rows

In [49]:
qs = Shop.objects.all()
qs = qs.filter(pk__lte=10)
qs.update(description="not used description")

(0.015) UPDATE "mall_shop" SET "description" = 'not used description' WHERE "mall_shop"."id" <= 10; args=('not used description', 10)

7

In [50]:
qs = Shop.objects.all()
qs = qs.filter(pk__lte=10)
for shop in qs:
    shop.description = "not used description"
    shop.save()

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" <= 10 ORDER BY "mall_shop"."id" DESC; args=(10,)
(0.031) UPDATE "mall_shop" SET "name" = '가게명#5', "description" = 'not used description', "telephone" = '042-1234-0006', "photo" = '', "created_at" = '2021-12-01 06:45:23.437722', "updated_at" = '2021-12-01 07:42:00.173207' WHERE "mall_shop"."id" = 10; args=('가게명#5', 'not used description', '042-1234-0006', '', '2021-12-01 06:45:23.437722', '2021-12-01 07:42:00.173207', 10)
(0.016) UPDATE "mall_shop" SET "name" = '가게명#4', "description" = 'not used description', "telephone" = '042-1234-9004', "photo" = '', "created_at" = '2021-12-01 06:45:23.437722', "updated_at" = '2021-12-01 07:42:00.196263' WHERE "mall_shop"."id" = 9; args=('가게명#4', 'not used description', '042-1234-9004', '', '2021-12-01 06:45:23.437722', '2021-12-01 07:42:00.196263', 9)
(0.000) UPDATE "mall_shop" SET "name" = '가게명#3', "description" = 'not used description', "telephone" = '042-1234-9003', "photo" = '', "created_at" = '2021-12-01 06:45:23.422096', "updated_at" = '2021-12-01 07:42:00.211887' WHERE "mall_shop"."id" = 8; args=('가게명#3', 'not used description', '042-1234-9003', '', '2021-12-01 06:45:23.422096', '2021-12-01 07:42:00.211887', 8)
(0.016) UPDATE "mall_shop" SET "name" = '가게명#2', "description" = 'not used description', "telephone" = '042-1234-9002', "photo" = '', "created_at" = '2021-12-01 06:45:23.422096', "updated_at" = '2021-12-01 07:42:00.211887' WHERE "mall_shop"."id" = 7; args=('가게명#2', 'not used description', '042-1234-9002', '', '2021-12-01 06:45:23.422096', '2021-12-01 07:42:00.211887', 7)
(0.000) UPDATE "mall_shop" SET "name" = '가게명#1', "description" = 'not used description', "telephone" = '042-1234-9001', "photo" = '', "created_at" = '2021-12-01 06:45:23.406037', "updated_at" = '2021-12-01 07:42:00.227507' WHERE "mall_shop"."id" = 6; args=('가게명#1', 'not used description', '042-1234-9001', '', '2021-12-01 06:45:23.406037', '2021-12-01 07:42:00.227507', 6)
(0.015) UPDATE "mall_shop" SET "name" = '셀프24시빨래방', "description" = 'not used description', "telephone" = '042-1234-4321', "photo" = '', "created_at" = '2021-12-01 06:10:54.885902', "updated_at" = '2021-12-01 07:42:00.227507' WHERE "mall_shop"."id" = 5; args=('셀프24시빨래방', 'not used description', '042-1234-4321', '', '2021-12-01 06:10:54.885902', '2021-12-01 07:42:00.227507', 5)
(0.000) UPDATE "mall_shop" SET "name" = '투썸플레이스', "description" = 'not used description', "telephone" = '042-1234-1234', "photo" = '', "created_at" = '2021-12-01 06:10:53.500243', "updated_at" = '2021-12-01 07:42:00.246639' WHERE "mall_shop"."id" = 4; args=('투썸플레이스', 'not used description', '042-1234-1234', '', '2021-12-01 06:10:53.500243', '2021-12-01 07:42:00.246639', 4)

# Delete Rows

In [ ]:
# qs = Shop.objects.all()

In [ ]:
# qs.delete()